[Unit]
Description=Chromium-EFL TPK Install and Mount
After=pkg_recovery_helper.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/chromium-efl-install /opt/usr/home/owner/media
ExecStop=/usr/bin/chromium-efl-install --umount-all
